{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">

  {% if title %}
  <title>Gallery - {{title}}</title>
  {% else %}
    <title> Gallery </title>
  {% endif %}
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% block styles %}
    {% bootstrap_css %}
    
    <link rel="stylesheet" href="{% static 'css/basepics.css' %}">
  {% endblock %}
  
</head>
<body style="background-color: black;">
    {% include "navbar.html" %}
    
    {% block content %} 
        
    {%endblock%}


    {% block scripts %}
        <!-- <link rel="stylesheet" href="{% static 'js/basepics.js' %}"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <!-- <div class="col-md-8">
                <div class="col-md-3">
                    <h2><i style="color: rgb(92, 99, 201);" class="fa fa-facebook"></i><h2>
                </div>
                <div class="col-md-3">
                    <h2><i style="color: rgb(45, 216, 131);" class="fa fa-instagram"></i><h2>
                </div>

                <div class="col-md-3">
                    <h2><i style="color: rgb(62, 170, 233);" class="fa fa-twitter"></i><h2>
                </div> 
            </div> -->
            <div class="col-md-2">
               
            </div>
    
        </div>
    </div>
   
    <h4 style="color: white; text-align:center; font-family: 'Oregano', cursive;">Copyright  &copy; Vinny Otach</h4>

</body>
</html>